.titleHome {
    font-size: 30px;
    margin: 0%;
    margin-left: 2vw;
    font-weight: 600;
  }
  img {
    background-size: 100% 100%;
    border-radius: 100%;
    width: 100px;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div {
    margin-bottom: 7%;
    p {
      font-size: small;
      margin: 15px;
    }
    .bold {
      font-weight: bold;
    }
    .section {
      font-weight: bold;
      color: rgb(99, 99, 99);
    }
    .logout {
      color: var(--ion-color-danger);
      font-weight: 600;
    }
  }
  